
.background-wrap {
    position: relative;
    display: grid;
    height: 100%;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
/* flex를 걸어서 space-between을 하려면 얘네만을 위한 모그룹 필요 */
/* display: flex는 모그룹에만 걸어주면 돼*/

.header-logo {
    width: 10%;
    height: 10%;
}

.header-avatar {
    width: 4%;
    margin-right: 30px;
}

.header-middle {
    background-image: url(../assets/maskgirl.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* url로 이미지 채우기 */


.movie-info {
    margin: 250px auto auto 30px;

}
.movie-title {
    font-size: 400%;
    color: yellow;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 10px;

}
.Play, .My-list {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    margin-left: 10px;
    width: 100px;
    height: 25px;
    padding: 2px, 2px, 2px, 2px;
}


.Play:hover, .My-list:hover {
    opacity: 0.7;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.movie-des {
    width: 350px;
    margin-top: 20px;
    color: lightyellow;
    font-style: oblique;
    font-size: 15px;
}

.header-bottom{
    position: absolute;
    margin-top: 520px;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(180deg, transparent, rgba(29, 30, 27, 0.749), black);
}
/* 그라데이션 넣기 */