
.background-wrap {
    position: relative;
    display: grid;
    height: 100%;

}

.background {
    width: 100%;
    position: relative;
    max-height: 600px;
    margin-right: 0;
}

.header-logo {
    z-index: 200;
    width: 30%;
    position: absolute;
    top: 10px;
    left: 15px;
}

.header-avatar {
    z-index: 100;
    width: 20%;
    position: absolute;
    top: 10px;
    right: 20px;
}

.header-middle {
    background-image: url(../assets/maskgirl.jpeg);
    /* position: absolute; */
    /* height: auto; */
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    /* margin: 300px, auto, 8px, 50px; */
}

.movie-info {
    margin: 300px auto auto 30px;
}
.movie-title {
    font-size: 400%;
    color: yellow;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 10px;

}
.Play, .My-list {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    margin-left: 10px;
    width: 100px;
    height: 20px;
    padding: 2px, 2px, 2px, 2px;
}


.Play:hover, .My-list:hover {
    opacity: 0.7;
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.movie-des {
    width: 400px;
    margin-top: 20px;
    color: lightyellow;
    font-style: oblique;
    font-size: 90%;
}

.header-bottom{
    position: absolute;
    margin-top: 520px;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(180deg, transparent, rgba(29, 30, 27, 0.749), black);
}