
.movie-grid {
    position: relative;
    width: 95%;
    margin: 10px auto;
}

.title {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.contents {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-direction: row;
    column-gap: 10px;
    height: 250px;
}
/* scroll 만들기 */

.contents::-webkit-scrollbar{   
    display: none;
}
/* Scrollbar 없애기 */

.movie {
    transition: 0.3s;
    margin-top: 10px;
    width: 100%;
    height: 195px;
    border-radius: 3px;
}

.movie:hover {
    cursor: pointer;
    transform: scale(1.1)
}
