
.video-grid {
    display: grid;
    margin-left: 50px;
}

.title {
    font-size: 20px;
    font-style: italic;
    color: white;
    margin: 20px 0px 10px 0px;
}

.contents {
    border: none;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.movie:hover {
    cursor: pointer;
    transform: scale(1.5)
}
